<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>layui在线调试</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css?t=1554901098009" media="all">

</head>
<body>
 
<div class="layui-row">
<div class="layui-col-md4">
<table id="demo" lay-filter="test"></table>
</div>
</div> 
 

  
<script src="/static/layui/layui.js"></script>
<script>
layui.config({
  version: '1554901098009' //为了更新 js 缓存，可忽略
});

layui.use(['table'], function(){
  var table = layui.table //表格

  //执行一个 table 实例
  table.render({
    elem: '#demo',
    url: '/skynet_inner/{{ method }}', //数据接口
    page: false,
    cols: [[ //表头
          {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
          {field: 'address', title: 'address', width:180, sort: true},
        {% if method == 'list' %}
          {field: 'type', title: 'type', width: 120, sort: true},
          {field: 'name', title: 'name',  sort: true}
        {% elif method == 'mem' %}
          {field: 'memory', title: 'memory', width: 120, sort: true},
          {field: 'name', title: 'name',  sort: true}
        {% endif %}
    ]]
  });
  
  //监听头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id)
    ,data = checkStatus.data; //获取选中的数据
    switch(obj.event){
      case 'add':
        layer.msg('添加');
      break;
      case 'update':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else if(data.length > 1){
          layer.msg('只能同时编辑一个');
        } else {
          layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
        }
      break;
      case 'delete':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else {
          layer.msg('删除');
        }
      break;
    };
  });
  
  //监听行工具事件
  table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'detail'){
      layer.msg('查看操作');
    } else if(layEvent === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del(); //删除对应行（tr）的DOM结构
        layer.close(index);
        //向服务端发送删除指令
      });
    } else if(layEvent === 'edit'){
      layer.msg('编辑操作');
    }
  });
  
});
</script>
</body>
</html>        
        